@page "/customer"

<div>
    <h1>Manage Customer Data</h1>
    <label>
        Select Customer to Manage:
        <select>
            <option></option>
        </select>
    </label>
    <label>
        Customer ID:
        <input readonly />
    </label>
    <label>
        Customer Last Name:
        <input />
    </label>
    <label>
        Customer First Name:
        <input />
    </label>
    <label>
        Contact Number:
        <input />
    </label>
    <label>
        Email:
        <input />
    </label>
    <label>
        Notes on File:
        <input />
    </label>
    <label>
        Is Client Banned from renting:
        <input />
    </label>
</div>


@code {

}
